@import '../node_modules/codemirror/lib/codemirror.css';
@import '../node_modules/codemirror/theme/midnight.css';

html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#run {
  width: 100%;
  height: 3%;
  cursor: pointer;
}

#generator {
  display: table-row;
  height: 100%;
  width: 100%;
}
